/* scss */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.top-body-bg{
  position: absolute;
  top: 0;
  left: 0;
  background-image: 
      linear-gradient(
          180deg, 
          $color-secondary-faint 0%, 
          $color-primary-faint 100%
      )
  ;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  width: 100%;
  height: 60%;
  z-index: -1;
}

