.btn-primary, .btn-secondary{
  margin-top: 4rem;
  padding: 0.8rem 4rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
  color: #fff;
  margin-right: 0.5rem;
  font-weight: 700;
}

.btn-secondary{
  background: #fff;
  color: $color-blue;
  padding: 0.8rem 2rem;
}

