.nav{
 padding: 1.5rem 0;
 display: flex;
 justify-content: space-between;
 color: $color-gray;
 border-bottom: 1px solid #000;
}


.active{
    color: $color-primary;
    font-weight: 500;
    position: relative;
}

.active::after{
    content: "";
    position: absolute;
    bottom: -1.85rem;
    left: 0;
    width: 120%;
    height: 10px;
    background-color: $color-primary;
    border-radius: 10px;
}

.nav-item{
    cursor: pointer;
}