$color-primary: #F2994A;
$color-primary-faint: rgba(242, 153, 74, 0.2);
$color-secondary: rgb(242, 201, 76);
$color-secondary-faint: rgba(242, 201, 76, 0.2);
$color-blue: #4E598C;
$color-gray: #BDBDBD;